*.swp
*.swo
*/CMakeFiles/*
CMakeCache.txt
Makefile
*.cmake
*.out
.DS*
*.mp4
*.cfg
*.aux
*.dvi
*.log
*.blg
*.bbl
*.bak
*.gz
*.pyc
!normals_relat/normal_pred/*.cfg
*.pkl
*ipynb*
*logfile.txt
*.pk
*.png
*.jpg
*.jpeg
*.patch
*0_Bullet3Demo.txt
*.h5
*.hdf5
!cmd_gen_mp4/opt_results/*.cfg
!ipython_note_anlys/dataset_test.ipynb
!ipython_note_anlys/*.ipynb
ipython_note_anlys/Normal_results_for_chengxu.ipynb
*log*.txt
*.mexmaci64
*.mexa64
!train*/*.cfg
!train*/*/*.cfg
papers/*/*.aux
papers/*/*.bbl
papers/*/*.blg
papers/*/*.log
papers/*/*.out
*.avi
papers/*/*.pdf
ipython_note_anlys/*.pdf
*.mexw64
fyp_docs/fyp_final/*.pdf
